@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');



.wrapper {
    padding: 86px 0 102px;
}



.container {
    max-width: 840px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}



.page {}

.page__position {}



.header {
    height: 60px;
    background: linear-gradient(90.16deg, #37474D 7.4%, #7A7A7A 92.52%);
    border-radius: 0px 0px 15px 15px;
    text-align: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 777;
}

.header__link {
    padding: 7px 0 6px;
}

.header__logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 117.5%;
    text-align: center;
    color: #FFFFFF;
}



.position {}

.position__heading {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 113%;
    text-align: center;
    color: #2C2C2C;

    margin-bottom: 8px;
}

.position__wrap-image {
    position: relative;
    max-width: 471px;
    margin: 0 auto;

    margin-bottom: 99px;
}

.position__image {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 100%;
}

.position__rectangle {
    position: absolute;
    width: 100px;
    height: 45px;

    right: 32px;
    bottom: -22px;
    z-index: -1;

    background: #F3FC7B;
    border-radius: 5px;
}



.position__wrap-img {
    position: relative;
    max-width: 586px;
    margin-left: auto;

    margin-bottom: 77px;
}

.position__img {
    max-width: 100%;
}

.position__square {
    position: absolute;
    width: 80px;
    height: 75px;

    left: -30px;
    bottom: -18px;
    z-index: -1;

    background: #687272;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}



.position__wrap-picture {
    position: relative;
    margin-bottom: 106px;
}

.position__wrap-picture::before {
    content: '';

    position: absolute;
    top: -35px;
    left: -50px;

    width: 100px;
    height: 100px;
    background: #A88660;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.position__wrap-picture::after {
    content: '';

    position: absolute;
    top: -35px;
    /*вопрос отступ сильно различается в макете и тут, сверял по pix per*/
    right: 27px;

    width: 100px;
    height: 100px;
    background: #F2EAC7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.position__picture {
    max-width: 100%;
}



.position__wrap-pic {
    position: relative;
    text-align: center;
    margin-bottom: 161px;
}

.position__wrap-pic::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 59px;

    top: -30px;
    /* right сильно изменил что бы сошлось на макете*/
    right: 11px;
    z-index: -1;

    background: #F8CA0B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}

.position__wrap-pic::after {
    content: '';

    position: absolute;
    width: 40px;
    height: 80px;

    left: 20px;
    bottom: -19px;
    z-index: -1;

    background: #5EF3CE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.position__pic {
    max-width: 100%;
}



/* ограничил бордер что бы не двигать элементы */
.position__wrap-imagery {
    position: relative;
    max-width: 658px;
    margin: 0 auto;
}

.position__wrap-imagery::before {
    content: '';

    position: absolute;
    width: 100px;
    height: 100px;

    left: -50px;
    bottom: -33px;

    background: #FFFEEA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.position__wrap-imagery::after {
    content: '';

    position: absolute;
    width: 100px;
    height: 100px;

    right: -29px;
    bottom: -33px;

    background: #C56E32;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.position__imagery {
    max-width: 100%;
}

.position__circle {
    position: absolute;
    width: 100px;
    height: 100px;

    top: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;

    background: #492540;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}